* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: bisque;
}
.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  height: 30vh;
}
.form {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.country-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.form__input {
  background-color: #fff;
  height: 35px;
}
.form__label {
  font-size: 50px;
}
